<form id="signinForm" [formGroup]="form" (ngSubmit)="submitForm()">
  <mat-card-header>
    <mat-card-title>
      <h1>
        Registrarse
      </h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field controlErrorContainer
      [customErrors]="emailInputField.errorMessages">
      <mat-label>
        {{ emailInputField.label }}
      </mat-label>
      <input
        matInput
        [type]="emailInputField.type"
        [value]="emailInputField.value"
        [required]="emailInputField.required"
        [placeholder]="emailInputField.placeholder"
        [formControlName]="emailInputField.formControlName">
    </mat-form-field>
    <mat-form-field controlErrorContainer
      [customErrors]="usernameInputField.errorMessages">
      <mat-label>
        {{ usernameInputField.label }}
      </mat-label>
      <input
        matInput
        [type]="usernameInputField.type"
        [value]="usernameInputField.value"
        [required]="usernameInputField.required"
        [placeholder]="usernameInputField.placeholder"
        [formControlName]="usernameInputField.formControlName">
    </mat-form-field>
    <mat-form-field controlErrorContainer
      [customErrors]="passwordInputField.errorMessages">
      <mat-label>
        {{ passwordInputField.label }}
      </mat-label>
      <input
        matInput
        [type]="hidePassword ? passwordInputField.type : 'text'"
        [value]="passwordInputField.value"
        [required]="passwordInputField.required"
        [placeholder]="passwordInputField.placeholder"
        [formControlName]="passwordInputField.formControlName">
        <button
          matSuffix
          mat-button
          type="button"
          mat-icon-button
          aria-label="Mostrar contraseña"
          (click)="changeTypeOfThePasswordField()">
          <mat-icon>{{ hidePassword ? 'visibility' : 'visibility_off' }}</mat-icon>
        </button>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions align="end">
    <button
      type="submit"
      color="primary"
      form="signinForm"
      mat-raised-button
      [disabled]="form.invalid">
      Registrar
    </button>
  </mat-card-actions>
</form>
